<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class = 'text-white' style = "background-color: aquamarine;">
    
    <div class ="container">
        <div class = "jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
            </div>

<!-- Mars News -->

<div class="container">
<h2 style = "color: blueviolet; font-family: Impact; text-align: center;">Featured Mars Image</h2>
    <img src="{{data.featured_image_url}}" style = "max-width: 100%;" alt="mars image">
    </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xm-12">
            <div>
                <h3 style = "color: crimson; font-family: Impact; ">Mars Facts</h3>
                <table border = "1" class = "dataframe">
                    <thead>
                        <tr style = "text-align: right;">
                        <th>Measurement</th>
                        </tr>
                        <tr>
                            <th>Data</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Equatorial Diameter</th>
                                <td>6792 km</td>
                            </tr>
                            <tr>
                                <th>Polar Diameter</th>
                                <td>6752 km</td>
                            </tr>
                            <tr>
                                <th>Mass</th>
                                <td>6.39 *</td>
                            </tr>
                            <tr>
                              <th>Moons</th>
                              <td>2</td>  
                            </tr>
                            <tr>
                                <th>Orbit Distance</th>
                                <td>227943</td>
                            </tr>
                            <tr>
                                <th>Orbit Period</th>
                                <td>687 days</td>
                            </tr>
                            <tr>
                                <th>Surface Temperature</th>
                                <td>-87 to -5</td>
                            </tr>
                            <tr>
                                <th>First Record</th>
                                <td>2nd Millenium</td>
                            </tr>
                            <tr>
                                <th>Recorded By</th>
                                <td>Egyptian astronomers</td>
                            </tr>
                        </tbody>
                </table>
</div>
</div>
</div>
</div>

<br>


<!-- Mars Hemispheres -->
<h1 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h1>

<div class="container-fluid">
    <div class = "row">
    <div class="col-md-6">
        <div class="row" id="mars-hemispheres">
            <div class="col-md-12">
                <h3>{{data.hemisphere_image_urls[0]["title"]}}</h3>
                <img src={{data.hemisphere_image_urls[0] ["img_url"]}} style="max-width: 100%; height:auto;" />
                </div>
                <div class="col-md-12 text-center">
                    <h3>{{data.hemisphere_image_urls[0]["title"]}}</h3>
                <img src={{data.hemisphere_image_urls[0] ["img_url"]}} style="max-width: 100%; height:auto;" />
                </div>
                </div>
                </div>
                <div class="col-md-6">
                    <div classs = "row">
                        <div class="col-md-12">
                            <h3>{{data.hemisphere_image_urls[0]["title"]}}</h3>
                <img src={{data.hemisphere_image_urls[0] ["img_url"]}} style="max-width: 100%; height:auto;" />
                </div>
                </div>
                </div>
                <div class="col-md-6">
                    <div classs = "row">
                        <div class="col-md-12">
                            <h3>{{data.hemisphere_image_urls[0]["title"]}}</h3>
                <img src={{data.hemisphere_image_urls[0] ["img_url"]}} style="max-width: 100%; height:auto;" />
                </div>
                <div class="col-md-12">
                    <h3>{{data.hemisphere_image_urls[0]["title"]}}</h3>
        <img src={{data.hemisphere_image_urls[0] ["img_url"]}} style="max-width: 100%; height:auto;" />
        </div>
        </div>
        </div>
        </div>
           
</body>
</html>
